 li{
	 list-style: none;
	 width: 160px;
	
}

#container{

}
#header{
    height: 60px;
      background-color:#10218b;
}
#logo{
    width:75px;
    height:60px;
    background-image: url("../images/logo2.PNG");
    float: left;
    margin-left: 40px;
}
#header-text1{
    width: 250px;
    height: 30px;
    float: left;
    padding-top: 15px;
    font-size: 25px;
    font-style: italic;
       color: white;
    font-weight: bold;
}

#header-right{
    float: right;
    margin-top: 20px;
      color: #abbfe3;
    font-weight: bold;
}
#header-right  a{
    color:#abbfe3 ;
}
#header-right  a:hover{
    color: white;
}
#footer a{
    color:#abbfe3 ;
}
#footer  a:hover{
    color: white;
}
/* a{
    color:#333;
} */
 a:link{
    text-decoration:none;

}
a:visited{
    text-decoration:none;
}

li:hover{
    color: red;
    text-decoration:none;
    background: #87CEEB;
    border-radius:3px;
}
a:active {
    text-decoration: none;
} 
.list{
	padding: 0px;
	text-align: center;
	margin:0 auto;
	line-height: 30px;
	margin-top:10px;
}
.blank{
    height: 1.2px;
    background-color:#52c3e9;
}

#main{
    height:490px;

}
#left{
    width: 220px;
    height: 490px;
//background-color: #afd9ee;
// background-color: #dce7f8;
     background-color: #cccccc;
    float: left;
}
#left-header{
    width: 160px;
    height: 200px;
    margin: 30px 30px 0px 30px ;
    background-color: white;

}

#left-header-s1{
    width: 160px;
    height: 27px;
    background-image: url("../images/bb.jpg");
    text-align: center;
    //padding-top: 8px;
 
}


#left-footer{
    width: 160px;
    height: 200px;
    margin: 30px 30px 0px 30px ;
    float: left;
    background-color: white;

}
#left-footer-b1{
    width: 160px;
    height: 27px;
    background-image: url("../images/bb.jpg");
    text-align: center;
    //padding-top: 8px;
}
#footer{
    height: 50px;
   // background-color: #88B8FF;
     background-color:#10218b;
    color:#abbfe3 ;
}
#footer-aa{
    text-align: center;
}

#right{   
    width:1110px;
     height: 490px;
   float: left;
   

}
#right-text1{
     width: 600px;
    height: 60px;
 	background-image: url("../images/text.jpg"); 
 	float:right;
 	margin: 190px 210px;

}


/* body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; } */